.container {
    height: 340pt;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcontainer {
    width: 240px;
    height: 389px;
    margin-left: 45px;
    margin-right: 45px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}

.cardcontainer:hover .card {
    transition-delay: 0.2s;
    transform: rotateY(180deg);
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

.card .front {
    transform: translateZ(1px);
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.432);
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(233, 233, 233));
}

.card .back {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(35, 37, 37));
    transform: rotateY(180deg);
    text-align: center;
}